$size-main-width: 1000px;
$size-post-width: 760px;

$font-serif: 'adobe-caslon-pro';

$color-text: #514645;
$color-meta: #70655E;

$beige: #F2E0C9;
$beige-dark: #C8B9A6;

$brown-light: #B49F81;

$red: #B43D0A;

$img-logo: 'http://svg.redradar.net/boston-2017/logo.svg';
