.page-slug-social-media-stream {
	.entry-content .callout {
		margin-bottom: 0;
	}
}

.tggr-media-item {
	background: #f3f0eb;
	border: 1px solid #dcccb7;
	border-radius: 5px;
}

.tggr-item-content {
	margin: 0 0 .5em;
	line-height: 1.6;
}

.tggr-timestamp {
	bottom: 10px;
	font-size: 14px;
	color: rgba( black, 0.6 );
}

#tggr-media-item-container .tggr-actions a span {
	font-size: 14px;
	color: #B43D0A;
}

#tggr-media-item-container .tggr-actions a:hover span {
	text-decoration: none;
}

.tggr-author-name {
	padding-top: 5px;
	color: #514645;
}

.tggr-author-username {
	color: rgba( black, 0.6 );
}
